# Python

##### compiler+interpreter

In [10]:
# As python doesn't use curly braces for defining the scope, it is mandatory that we must follow indentation
print("hello");         
print("welcome");  
num=12  
if(num>0):
    print("it is positive")        #    Indentation is must here
elif(num<0):
    print("it is negative")
else:
    print("it is zero")
print("Done")
print("thank you")

hello
welcome
it is positive
Done
thank you

In [12]:
x=100
print(x,' ',type(x))

100   <class 'int'>

In [16]:
x=True
print(x,' ',type(x))

True   <class 'bool'>

In [18]:
x=9.11
print(x,' ',type(x))

9.11   <class 'float'>

In [9]:
x=bool(input('Enter boolean'))
print(x,' ',type(x))

Enter boolean

False   <class 'bool'>

In [11]:
x=-1 #if x=0 then False
a=bool(x)
a

True

In [36]:
x=5
a=float(x)
a

5.0

In [42]:
x=True
a = int(x)
print(a,' ',type(a))

1   <class 'int'>

In [44]:
ch='A'
print(ch,'  ',ord(ch))

A    65

In [50]:
num=100
print(chr(num))

d

In [54]:
print(type('A'),' ',type('abc'))

<class 'str'>   <class 'str'>

In [23]:
num=100
print('Number is ',num) #not to concat with + only concat with , for different datatpyes

Number is  100

In [64]:
print('Number is '+str(num))

Number is 100

In [66]:
a = int('345')
type(a)

int

In [72]:
a = int("abc") #raises value error

ValueError: invalid literal for int() with base 10: 'abc'

In [74]:
a = int([1,2,3])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [92]:
var = 6 + 5j
print(var, ' ',type(var))
var2 = 2.4 + 3j
print(var2, ' ',type(var))

(6+5j)   <class 'complex'>
(2.4+3j)   <class 'complex'>

In [94]:
var-var2

(3.6+2j)

In [100]:
print(var.real) #to get real and imaginary parts
print(var.imag)

6.0
5.0

In [118]:
var3 = complex(5,7.8)
print(var3,'\n',var3.real,'\n',var3.imag,'\n',type(var3))

(5+7.8j)
 5.0
 7.8
 <class 'complex'>

In [ ]:
#single line commet
"""
multi 
line comments
"""

In [116]:
var3 = complex(7.8)
print(var3,'\n',var3.real,'\n',var3.imag,'\n',type(var3))

(7.8+0j)
 7.8
 0.0
 <class 'complex'>

In [27]:
var3 = complex("7")
print(var3,'\n',var3.real,'\n',var3.imag,'\n',type(var3))

(7+0j)
 7.0
 0.0
 <class 'complex'>

## Operators

#### Arithmetic

In [126]:
a=65
b=20
print("Addition is", a+b)
print("Subtraction is", a-b)
print("Multiplication is", a*b)
print("Division is", a/b)
print("Remainder is", a%b)
print("Floor Division is", a//b)

Addition is 85
Subtraction is 45
Multiplication is 1300
Division is 3.25
Remainder is 5
Floor Division is 3

#### Assignment

In [133]:
a=6
b=2
a=b
print(a)#a2
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)
a//=b
print(a)

2
4
2
4
2.0
0.0
0.0

#### Logical

In [136]:
a=6
b=2

if a>10 and b<5:
    print("a is greater than 10 and b is less than 3")
if a>10 or b<5:
    print("either a is greater than 10 or b is less than 5")
print(not a>b)
print(not a<b)

either a is greater than 10 or b is less than 5
False
True

#### Comparison

In [139]:
a=65
b=20

if a==b:
    print("a and b are equal")
if a!=b:
    print("a is not equal to b")
if a>b:
    print("a is greater than b")
if a<b:
    print("a is less than b")
if a>=b:
    print("a is greater than equal to b")
if a<=b:
    print("a is less than equal to b")

a is not equal to b
a is greater than b
a is greater than equal to b

#### Identity

In [148]:
"""
In Python, to write an empty class pass statement is used.
 pass is a special statement in Python that does nothing.
It only works as a dummy statement.
However, objects of an empty class can also be created.
"""

class MyClass:
    pass


m1=MyClass()
m2=MyClass()
print(m1 is m2)#false
print(m1 is not m2)#true

m2=m1
print(m1 is m2) #true
print(m1 is not m2)#false
print(m1 == m2)#true
# one more example

k=100
print(k)
print(id(k))#get address of object where k refers to
s=100 #no new object is created s will refer to same object that is reffered by k   no pool concept object is in heap
print(id(s))

print(k==s)
print(k is s)

False
True
True
False
True
100
140732373943832
140732373943832
True
True

#### Membership

In [160]:
#in is the memebership operator most often used with list,dictionary
# with list
list1 = [1, 2, 3, 4, 5, 6, 7]
print(4 in list1)#true
print(4 not in list1)#false

# with dictionary
dict = {1:"first",2:"second"}
print(3 in dict)
print(2 in dict) #will only check keys not values

# with tuple
tup1 = ('physics', 'chemistry', 1997, 2000)
print('hello' in tup1)
print('chemistry' not in tup1)
print(1997 in tup1)

True
False
False
True
False
False
True

In [164]:
print(2*3) #multiplication
print(2**2) #square
print((2**3)) #cube

6
4
8

### Input

In [173]:
a = input("Enter your name: ")#by default input values is string
print("Hello, "+a)

Enter your name:  Priyank

Hello, Priyank

In [171]:
a = int(input("Enter you age: "))
print("You are ",a)

Enter you age:  22

You are  22

### If Else

In [178]:
a = 2 
if a>0:
    if(a%2==0):
        print("Postive even")#nested if
    else:
        print("Positve odd")
elif a==0:
    print("Zero")
else:
    print("Negative")

Postive even

#### Switch Case

In [185]:
a=3
match a:
    case 5:
        print("It is 5")
    case 7:
        print("It is 7")
    case _:                  #default
        print("It is not 5 and 7")
#can work with float values ,string and boolean

It is not 5 and 7

In [189]:
lst = ['a','e','i','o','u']
ch = input('Enter a character')
print("character: "+ch)
if (ch in lst):
    print("Vowel")
else:
    print("Not a Vowel")

Enter a character a

character: a
Vowel

In [197]:
#Swapping without 3rd variable
a = 2
b = 3
print(a,b)
a = a + b
b = a - b
a = a - b
print(a,b)

2 3
3 2

#### but, Python op in chat

In [202]:
a = 2
b = 3
print(a,b)
a ,b = b, a
print(a,b)

2 3
3 2

## Loops

In [205]:
i=1
while(i<10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [209]:
i=1
while(1):               #infinite loop
    if(i==6):
        break
    print(i)
    i+=1

1
2
3
4
5

In [211]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [213]:
type(range(1,10))

range

In [221]:
for i in range(1,10):
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8
9

In [233]:
for i in range(1,4):
    for j in range(1,4):
        print(j,end=' ')
    print()

1 2 3
1 2 3
1 2 3

#### Ternary Operator

In [244]:
i=1  #used in list comprehension
print("+ve") if (i>0) else print("zero or -ve")

+ve

In [246]:
print("+ve") if i> 0 else print("zero") if i==0 else print("-ve")  #nested

+ve

In [248]:
#use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for m in  (Months):
    print(m)

Jan
Feb
Mar
April
May
June

In [250]:
#use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for i, m in enumerate (Months):
		print(i,m)

0 Jan
1 Feb
2 Mar
3 April
4 May
5 June

In [252]:
lst = [2,3,5,7,11]
for i, n in enumerate(lst):
    print(i,' ',n)

0   2
1   3
2   5
3   7
4   11

In [260]:
while True:
    n = int(input("Enter a number: "))
    if (n==0):
        print("Exiting...")
        break
    print(i)

Enter a number:  1

4

Enter a number:  2

4

Enter a number:  0

Exiting...

In [264]:
sum = 0
for i in range(1,11):
    sum+=i
print(sum)

55

In [276]:
for i in range(ord('A'),ord('E')+1):  #printing characters using for loop
    print(chr(i))

A
B
C
D
E

In [296]:
i = 1
for _ in iter(int,True):   #infine for loop
    if i == 7:
        break
    print(i)
    i+=1

1
2
3
4
5
6

In [282]:
for i in range(5): #defualt start value 0
    print(i)

0
1
2
3
4

In [290]:
for i in range(0,11,2): #step =2
    print(i)

0
2
4
6
8
10

In [294]:
for i in range(10,1,-1): #step = -1
    print(i)

10
9
8
7
6
5
4
3
2

#### Else with For and While loop

In [303]:
for i in range(0,5):
    if i==2:
        break
    print(i)
else:
    print("Done")

0
1

In [309]:
for i in range(0,5):
    if i==10:
        break
    print(i)
else:
    print("Done")  #without break when for loop is done then else is executed

0
1
2
3
4
Done

In [321]:
nums = [1,2,3,4,5]
for i in nums:
    if(i%5==0):
        print(i)
        break
else:
    print("Not found")

5

In [325]:
nums = [1,2,3,4,9]
for i in nums:
    if(i%5==0):
        print(i)
        break
else:
    print("Not found")

Not found

In [327]:
import platform
print(platform.python_implementation())

CPython

In [331]:
import platform
print(platform.python_version())

3.12.4

Pip preferred installter python

main function is not used in python because interpreter executes from top of line unless it encounters def keyword

In [347]:
for i in range(1,4):
    for j in range(1,4):
        print(j,end=' ')
    print()

1 2 3
1 2 3
1 2 3