# RegEx
## Regular Expressions

Both re.search() and re.match() returns only the first occurrence of a substring in the string and ignore others.
re.match() only works if the match is found at the beginning of the string.

In [11]:
import re
 

mystring1="123abc123"
print(re.match("123",mystring1))
print(re.search("123",mystring1))

mystring2="abc123"
print('\n',re.match("123",mystring2))  #  None
print(re.search("123",mystring2))

<re.Match object; span=(0, 3), match='123'>
<re.Match object; span=(0, 3), match='123'>

 None
<re.Match object; span=(3, 6), match='123'>

In [15]:
mystring1="abc123xyz123"
print(re.match("123",mystring1))
print(re.search("123",mystring1))
print(re.findall("123",mystring1))

None
<re.Match object; span=(3, 6), match='123'>
['123', '123']

In [22]:
import re

pattern1="Vidya"
mystring1="Vidyanidhi"
print(re.match(pattern1, mystring1))
mystring2="vidyanidhi"
print(re.match(pattern1,mystring2))
print(re.match(pattern1, mystring2,re.IGNORECASE))

<re.Match object; span=(0, 5), match='Vidya'>
None
<re.Match object; span=(0, 5), match='vidya'>

### RegEX
r'^[\w\.-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}$'

^: Start of the string.
\w - Word characters (letters, digits, and underscores)
  .(dot) symbol

@: Matches the @ symbol.

[a-zA-Z0-9-]+: Matches one or more alphanumeric characters or hyphens after the @ symbol (in the domain name).

\.: Matches the dot (.) before the top-level domain.

[a-zA-Z]{2,}: Matches two or more alphabetic characters for the top-level domain (e.g., com, net, org).

$: End of the string.

In [24]:
import re
email_pattern = r'^[\w\.-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}$'


emails = ['nitin.javastudent@gmail.com', 'Guido.russom@example.co.uk', '123@python.com', 'python.masters']

for email in emails:
    print(re.match(email_pattern,email) is not None)

True
False
True
False

In [33]:
import re

pattern1=r"\d"     # int
str1="abcd"
str2="1abcd"
str3="ab5cd"

print(re.match(pattern1,str1) is not None)
print(re.match(pattern1,str2) is not None)
print(re.match(pattern1,str3) is not None)
print(re.search(pattern1,str3) is not None)

False
True
False
True

In [35]:
import re

pattern1=r"\s"		 #  \s  means whitespace characters
str1="Welcome to RE World"

mylist1=re.split(pattern1,str1)
print(mylist1)
print(type(mylist1))

['Welcome', 'to', 'RE', 'World']
<class 'list'>

In [39]:
# find out how many "python" or "easy" words are there in a text
import re

pattern1="python|easy"
str1="There is a fun in learning Python. It is easy to code python program. Python makes programmer's life easy"

result=re.findall(pattern1,str1,re.IGNORECASE)

print(result)

['Python', 'easy', 'python', 'Python', 'easy']

In [41]:
# find out index of "python"  in a text
import re

pattern1="python"
str1="There is a fun in learning Python. It is easy to code python program. Python makes programmer's life easy"

for result in re.finditer(pattern1,str1,re.IGNORECASE):
    print(result)
    mytuple=result.span()
    print(mytuple)

<re.Match object; span=(27, 33), match='Python'>
(27, 33)
<re.Match object; span=(54, 60), match='python'>
(54, 60)
<re.Match object; span=(70, 76), match='Python'>
(70, 76)

In [43]:
# replace "Java"  with "Python"
import re

str1="There is a fun in learning Java. It is easy to code java program. Java makes programmer's life easy"


regex=re.compile("Java",re.IGNORECASE)
result=regex.sub("Python",str1)

print(result)

There is a fun in learning Python. It is easy to code Python program. Python makes programmer's life easy

In [51]:
# replace space  with newline
import re

str1="Welcome to Python Programming World"

print(str1)
regex=re.compile(" ",re.IGNORECASE)
result=regex.sub("\n",str1)

print(result)
print(type(regex))

Welcome to Python Programming World
Welcome
to
Python
Programming
World
<class 're.Pattern'>

In [55]:
# count how many digits ,characters and spaces are there inside string
import re

str1="abc4xy6z p8qrst1py"

print("No of digits inside the string are \t",len(re.findall('\d',str1)))
print("No of characters inside the string are \t",len(re.findall('\D',str1)))
print("No of white spaces inside the string are \t",len(re.findall(' ',str1)))

No of digits inside the string are 	 4
No of characters inside the string are 	 14
No of white spaces inside the string are 	 1

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\D'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\D'
C:\Users\priya\AppData\Local\Temp\ipykernel_1100\950547723.py:6: SyntaxWarning: invalid escape sequence '\d'
  print("No of digits inside the string are \t",len(re.findall('\d',str1)))
C:\Users\priya\AppData\Local\Temp\ipykernel_1100\950547723.py:7: SyntaxWarning: invalid escape sequence '\D'
  print("No of characters inside the string are \t",len(re.findall('\D',str1)))

In [61]:
phone_no="445-889-1478"
#phone_no="44r-7p9-2345"
if(re.search("\d{3}-\d{3}-\d{4}", phone_no)):
    print("it's valid phone no.")
else:
    print("it's not a valid phone no")

fullname="Sachin Tendulkar"
fullname2="RahulDravid"

if(re.search("\w{2,20}\s\w{2,20}", fullname)):
    print("it's a valid fullname")
else:
    print("it's not a valid fullname")

if(re.search("\w{2,20}\s\w{2,20}", fullname2)):
    print("it's a valid fullname")
else:
    print("it's not a valid fullname")

it's valid phone no.
it's a valid fullname
it's not a valid fullname

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:11: SyntaxWarning: invalid escape sequence '\w'
<>:16: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:11: SyntaxWarning: invalid escape sequence '\w'
<>:16: SyntaxWarning: invalid escape sequence '\w'
C:\Users\priya\AppData\Local\Temp\ipykernel_1100\1499924333.py:3: SyntaxWarning: invalid escape sequence '\d'
  if(re.search("\d{3}-\d{3}-\d{4}", phone_no)):
C:\Users\priya\AppData\Local\Temp\ipykernel_1100\1499924333.py:11: SyntaxWarning: invalid escape sequence '\w'
  if(re.search("\w{2,20}\s\w{2,20}", fullname)):
C:\Users\priya\AppData\Local\Temp\ipykernel_1100\1499924333.py:16: SyntaxWarning: invalid escape sequence '\w'
  if(re.search("\w{2,20}\s\w{2,20}", fullname2)):

In [63]:
# find out all the modules in the given string
#  * is for zero or more occurrences

import re

message="Java is the first platform independent language whereas Python is the preferred choice for machine learning. Oracle is the best database technology."

pattern=r"[A-Z][a-z]*"
modules=re.findall(pattern, message)
print(modules)

['Java', 'Python', 'Oracle']

In [65]:
# find out all the modules and their no. of days in the given string
#  * is for zero or more occurences

import re

message="Java is the first platform independent language which takes 20 days whereas Python is the prefered choice for machine learning which takes 15 days.Mysql which takes 12 days is the best database technology."

pattern=r"[A-Z][a-z]*"
modules=re.findall(pattern, message)
print(modules)
no_of_days=re.findall(r"\d{2}",message)
print(no_of_days)

module_wise_no_of_days={}

module_wise_no_of_days={key:value for (key,value) in zip(modules,no_of_days)}

print(module_wise_no_of_days)

['Java', 'Python', 'Mysql']
['20', '15', '12']
{'Java': '20', 'Python': '15', 'Mysql': '12'}

In [67]:
# names start with s or r or v
#  names start with character starts from p to t
#  \w means word character


import re

#name="sachin"
#name="rahul"
#name="chetan"
name="Vishal"
name1="Pandit"

list1=re.findall(r"^[srv]\w*", name,re.IGNORECASE)
list2=re.findall(r"^[p-t]\w*", name1,re.IGNORECASE)

print(list1)
print(list2)

['Vishal']
['Pandit']

## Map function
Python map() function applies another function on a given iterable (List/String/Dictionary, etc.) and returns map object. In simple words, it traverses the list, calls the function for each element, and returns the results.
Python map object is also iterable holding the list of each iteration. We can also convert it to List or Dictionary or other types using their constructor functions.

The map() function takes at least two parameters. The first argument is a user-defined function, and then one or more iterable types.
If you pass only one iterable, then map() calls the function for each of its elements and returns map object with results.
However, if you provide multiple iterables, then the function will be called with each of their elements as arguments.

In [73]:
# using map() function with tuple

def addition(n):
    return n+n

mytuple = (10,20,30,40)
print(mytuple)

result = map(addition,mytuple)
print(list(result))

(10, 20, 30, 40)
[20, 40, 60, 80]

In [75]:
# using map() function with tuple by passing lambda

mytuple = (10,20,30,40)
print(mytuple)
print(type(mytuple))

result = map(lambda x:x+2,mytuple)
print(list(result))

(10, 20, 30, 40)
<class 'tuple'>
[12, 22, 32, 42]

In [77]:
# Add two lists using map and lambda

mylist1 = [10,20,30,40]
mylist2 = [100,200,300,400]

print(mylist1)
print(mylist2)

result = map(lambda x,y:x+y,mylist1,mylist2)
print(result)
print(list(result))

[10, 20, 30, 40]
[100, 200, 300, 400]
<map object at 0x00000249D7E9C910>
[110, 220, 330, 440]

In [81]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

# what does map(list,l) do ?
    # map(list,l) returns  [['s','a','t'],['b','a','t'],['c','a','t'],['m','a','t']]

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

### Map vs Filter
Map takes all objects in a list and allows you to apply a function to it whereas Filter takes all objects in a list and runs that through a function to create a new list with all objects that return True in that function

In [91]:
def is_even(num):
    return num % 2 == 0

def add(num):
 	return num+num


nums = [1, 2, 3, 4, 6, 7, 8]
#filtered = filter(is_even, nums)

# the function which is passed to filter function
# must return true or false
filtered = filter(is_even, nums)  # no effect

print(nums)
print(list(filtered))

[1, 2, 3, 4, 6, 7, 8]
[2, 4, 6, 8]

In [109]:
sum(list(filter(lambda x:x%2==0,[int(x) for x in input().split()])))

 1 2 3 4 5 6 7 8

20

In [115]:
print(*[1, 2, 3, 4, 5, 6])  #* to unpack an iterable

1 2 3 4 5 6

## Iterator

In [134]:
mytuple = ("apple", "banana", "cherry")
for myit in mytuple:
    print(myit)

mylist=[10,20,30,40]
for myit1 in mylist:
    print(myit1)

mystring="Vidyanidhi"
for i in mystring:
    print(i,end=' ')

apple
banana
cherry
10
20
30
40
V i d y a n i d h i

In [136]:
myiter=iter([10,20,30])
print(myiter)
print(type(myiter))
print(myiter.__next__())
print(myiter.__next__())
print(myiter.__next__())
print(myiter.__next__())        #   StopIteration

<list_iterator object at 0x00000249D8326050>
<class 'list_iterator'>
10
20
30

StopIteration:

# Thank you For Loop

In [141]:
myiter=[10,20,30]
for i in myiter:    #  for loop internally handles "Stopiteration"
    print(i)

10
20
30

### Your own Iterator

In [150]:
class MyNumber:
    def __iter__(self):
        print('iter')
        self.num=1
        return self
    def __next__(self):
        print('n',end=' ')
        if self.num<=10:
            temp=self.num
            self.num+=1
            return temp
        else:
            raise StopIteration

ref1=MyNumber()
for i in ref1:
   print(i)
print("done")

iter
n 1
n 2
n 3
n 4
n 5
n 6
n 7
n 8
n 9
n 10
n done

how does "for i in ref1:" work here?

it first invokes "__iter__()" method of MyNumber class.

	__iter__() method returns for loop the object of "MyNumber"

now for loop invokes "__next__()" method of MyNumber class which returns a number every time.
This number for loop stores inside "i" variable and then prints.
when the value goes beyond 10, for loop stops as it gets "Stop Iteration" from the "next" function.

In [155]:
class MyNumber:
    def __iter__(self):
        print("inside iter")
        self.num=1
        return self 
    def __next__(self):
        print("inside next")
        if self.num<=10:
            temp=self.num
            self.num+=1
            return temp
        else:
            raise StopIteration

try:
    ref1.__iter__()
    while 1:
        print(ref1.__next__())
except StopIteration as s:
    print("done with next")
    
print("done")

iter
n 1
n 2
n 3
n 4
n 5
n 6
n 7
n 8
n 9
n 10
n done with next
done