## String

#### 1) accept a string and display whether it is palindrom or not.

In [3]:
def palidrome(str):
    return str==str[::-1]

In [7]:
str = input('Enter a string: ')
if palidrome(str):
    print(str,' is a palidrome')
else:
    print(str,' is not a palidrome')

Enter a string:  madam

madam  is a palidrome

### 2) accept a string and display it. now accept slicing positions from and to , slice the string and display it.

In [10]:
str = input('Enter a string: ')
lst = [int(x) for x in input('Enter start, end and step: ').split()]
start = lst[0]
end = lst[1]
step = lst[2]
print(str[start:end:step])

Enter a string:  abcdef
Enter start, end and step:  1 3 1

bc

#### 3) accept a string and display how many vowel characters are there inside it.

In [139]:
lst = list(input('Enter a string'))
vowels = ['a','e','i','o','u']
count = 0
for i in lst:
    if i.lower() in vowels:
        count+=1
print('Number of vowels: ', count)

Enter a string aeuisadpaw

Number of vowels:  6

#### 4) accept a string and display the characters which are repeated in the string

In [38]:
lst = list(input('Enter a string: '))
dct = dict()
for i in lst:
    if i in dct.keys():
        dct[i]+=1
    else:
        dct[i]=1

Enter a string:  abcdeab

In [44]:
for i,j in dct.items():
    if j>1:
        print(i,end=' ')

a b

#### 5) accept a string and find out how many words are there in it.

In [59]:
str = (input('Enter a string'))
lst = str.split()
print('Number of words in a sentence: ',len(lst))

Enter a string hello how are you

Number of words in a sentence:  4

#### 6) accept a sentence and reverse it.`

In [166]:
str = (input('Enter a string'))
lst = str.split()
lst2 = lst[::-1]
str = ' '.join(lst2)
print('Reversed sentence: ',str)

Enter a string hello how are you

Reversed sentence:  you are how hello

#### 7) A pangram is a sentence that contains all the alphabets.

In [196]:
lst = list(input('Enter a string: '))
dct = dict()
dct = {x:0 for x in range(26)}
for i in lst:
    if ord(i)>=97 and ord(i)<=122:
        dct[ord(i.lower())-97]+=1
flag = True
for i in range(26):
    if dct[i]==0:
        print('Not pangram')
        break
else:
    print('Pangram')

Enter a string:  The quick brown fox jumps over the lazy dog

Pangram

## List

### 1) create a list , accept a number,name and a float value from user and store it inside the list.
  
now accept one more name from user and insert it at 2nd position.

accept a number and append it at the end of the list.
print the entire list.

In [32]:
lst = list()
lst.append(int(input('Enter a number')))
lst.append(input('Enter a name'))
lst.append(float(input('Enter a number')))
lst.insert(1,input('Enter a name'))
lst.append(int(input('Enter a number')))
print(lst)

Enter a number 1
Enter a name Priyank
Enter a number 2
Enter a name Pratik
Enter a number 2

[1, 'Pratik', 'Priyank', 2.0, 2]

#### 2) first create list empty. accept numbers till user enters 0 and store them inside the list. Print the list and its length.

In [12]:
lst = list()
while(True):
    n = int(input('Enter a number'))
    if n==0:
        break
    lst.append(n)
print(lst)

Enter a number 1
Enter a number 2
Enter a number 3
Enter a number 4
Enter a number 5
Enter a number 00

[1, 2, 3, 4, 5]

#### 3) accept 5 numbers, store them inside the list and display it. Now add 3 more numbers [hardcoded] at the end of the list using "extend" method.

In [15]:
lst = list()
for i in range(5):
    n = int(input('Enter a number'))
    lst.append(n)
print(lst)
lst.extend([6,7,8])
print(lst)

Enter a number 1
Enter a number 2
Enter a number 3
Enter a number 4
Enter a number 5

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

#### 4) accept a number,string,decimal,boolean value and a character from the user and store it inside the list. First print the list from the beginning and then from the end.

In [20]:
lst = list()
lst.append(int(input('Enter a number')))
lst.append(input('Enter a string'))
lst.append(float(input('Enter a decimal')))
lst.append(bool(input('Enter a Boolean')))
print(lst)
print(lst[::-1])

Enter a number 1
Enter a string hello
Enter a decimal 4.2
Enter a Boolean True

[1, 'hello', 4.2, True]
[True, 4.2, 'hello', 1]

#### 5) accept 5 numbers, store them inside the list. now accept a number from user which he would like to remove from the list and  after removing it, display the list.

In [23]:
lst = list(int(x) for x in input('Enter 5 numbers: ').split())
n = int(input("Enter a number to removed"))
lst.remove(n)
print(lst)

Enter 5 numbers:  1 2 3 4 5
Enter a number to removed 3

[1, 2, 4, 5]

#### 6) accept 5 numbers, store them inside the list. now accept a position from user ,remove the element from that position and  after removing it, display the list.

In [26]:
lst = list(int(x) for x in input('Enter 5 numbers: ').split())
n = int(input("Enter a position to removed"))
lst.pop(n)
print(lst)

Enter 5 numbers:  1 2 3 4 5
Enter a position to removed 2

[1, 2, 4, 5]

#### 7) create a list and store string,number,character,boolean,decimal values respectively inside it.
Now slice it in following ways:
-  display it in reverse order
- list all the elements from 2nd position
- list the elements from 1st to 3rd position
- slice it from 1st to 3rd elements from the end

In [ ]:
lst = list()
lst.append(int(input('Enter a number')))
lst.append(input('Enter a string'))
lst.append(float(input('Enter a decimal')))
lst.append(bool(input('Enter a Boolean')))
print(lst)

In [36]:
print(lst[::-1])
print(lst[1:])
print(lst[:4])
print(lst[-1:-3:-1])

[2, 2.0, 'Priyank', 'Pratik', 1]
['Pratik', 'Priyank', 2.0, 2]
[1, 'Pratik', 'Priyank', 2.0]
[2, 2.0]

#### 8) Note: use List comprehension
 create a list with the numbers from 1 to 20
 create one more list which should contain only odd numbers from the first list.

In [47]:
lst = [x for x in range(1,21)]
lst2 = [x for x in lst if x%2!=0]
print(lst)
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 9) accept 5 names and store them in list. Now sort the list in ascending order display and then in descending order.

In [68]:
lst = list([(x) for x in input('Enter 5 namess').split()])
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

Enter 5 namess a e b d c

['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

#### 10) create a class "Car" with two instance members i.e. "model(string)" and "isautomatic(boolean)"
have getter methods also.
create 5 to 6 objects by passing model name and True or False for "isautomatic".

create a list and store all the objects inside it.

now create one more list and in that list store all the objects from first list where "isautomatic" is True.
Print both the lists.

In [78]:
class car:
    def __init__(self,model,isautomatic):
        self.model = model
        self.isautomatic = isautomatic
    def getModel(self):
        return self.model
    def isAutomatic(self):
        return self.isautomatic
    def __str__(self):
        return self.model

c1 = car('Audi',True)
c2 = car('Toyota',False)
c3 = car('BMW',True)
c4 = car('Honda',False)
c5 = car('Porcshe',True)

lst = [c1,c2,c3,c4,c5]
for i in lst:
    print(i,end=' ')
print()
lst2 = [c for c in lst if c.isAutomatic()]
for i in lst2:
    print(i,end=' ')

Audi Toyota BMW Honda Porcshe
Audi BMW Porcshe

## Tuple

#### 1) Write a Python program to count the elements in a list until an element is a tuple.

Sample input : list = [10, 20, 30, (40,50), 60]
Sample output = 3

In [82]:
lst = [10, 20, 30, (40,50), 60]
count = 0
for i in lst:
    if isinstance(i,tuple):
        break
    count+=1
print(count)

3

#### 2) create a tuple to store 5 numbers and then sort it in ascending and descending order.

In [103]:
myt = (1,5,2,4,3)
lst = list(myt)
lst.sort()
myt = tuple(lst)
print(myt)
lst.sort(reverse=True)
myt = tuple(lst)
print(myt)

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

#### 3) Write a Python program to find the repeated items of a tuple.

In [106]:
myt = (1,1,1,2,3,3,3,4,5,5,5)
lst = list(myt)
dct = dict()
for k in lst:
    if k in dct.keys():
        dct[k]+=1
    else:
        dct[k]=1
for k,v in dct.items():
    if v>1:
        print(k)

1
3
5

## Set

#### 1) accept 10 values from user and add them inside the set. now accept one more value from user and if it is present in the set, remove it. Make sure program doesn't give any error if number is not there inside the set.

In [110]:
set1 = set([int(x) for x in input('Enter 10 numbers:').split()])
n = int(input('Enter a number: '))
print(set1)
set1.discard(n)

Enter 10 numbers: 1 2 3 4 5 6 7 8 9 10
Enter a number:  11

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Dictionary

#### 1) accept 5 students name and store them in the dictionary by providing keys from 1 to 5 respectively.

In [117]:
dct = dict()
for i in range(1,6):
    name = input('Enter name')
    dct[i] = name
print(dct)

Enter name Priyank
Enter name Pratik
Enter name Ram
Enter name Pritam
Enter name Saurabh

{1: 'Priyank', 2: 'Pratik', 3: 'Ram', 4: 'Pritam', 5: 'Saurabh'}

#### 2) create a dictionary with pairs
	soap:100
	deo:300
	perfume:400

now accept a product name from user (in any case, so you have to handle "ignore case") and display its price. Also , if the product is not present in the dictionary display the error message " product not available "
	Note:  you should not get "KeyError:" in the program.

In [134]:
dct = {'soap':100,'deo':300,'perfume':400}
key = input('Enter product')
if key in dct.keys():
    print('Price: $',dct[key.casefold()])
else:
    print('Product not available')

Enter product soap

Price: $ 100

#### 3) define a class "Student" with members
	name,age,address and qualification
	
   define parameterized constructor and "str" member function which returns all the members

   create 4 objects of Student by passing values.

now create a dictionary with rollno ( start from 1 ) as a key and student object as a value.

accept a rollno from user and display all its details i.e. name,age,address and qualification.
also display message "student not found" in case if rollno entered by user is not available as a key inside the dictionary.

In [1]:
class Student:
    def __init__(self,age,address,qualification):
        self.age = age
        self.address = address
        self.qualification = qualification

    def __str__(self):
        return (str(self.age)+' '+self.address+' '+self.qualification)


s1 = Student(22,'Dadar','MSC')
s2 = Student(22,'Prabhadevi','MSC')
s3 = Student(27,'lalbaug','Btech')
s4 = Student(25,'Borivali','Btech')
s5 = Student(22,'Dadar','MSC')

dct = {1:s1,2:s2,3:s3,4:s4,5:s5}
rn = int(input('Enter rollno'))
print(dct[rn])

Enter rollno 1

22 Dadar MSC

#### 4)  Given a dictionary of students and their favourite colours: 
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'} 
1. Find out how many students are in the list 
2. Change Lisaâ€™s favourite colour 
3. Remove 'Jenny' and her favourite color
4. Sort and print students and their favourite colours alphabetically by name

In [1]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
print('Number of students: ',len(people.keys()))
people['Lisa'] = 'White'
people.pop('Jenny')

keys = list(people.keys())
keys.sort()

newd = {i:people[i] for i in keys}
print(newd)

Number of students:  4
{'Arham': 'Blue', 'Lisa': 'White', 'Vinod': 'Purple'}

#### 1) Write a Python program to create a dictionary of keys x, y, and z 
 - where each key has as value a list from 11-20, 21-30, and 31-40 respectively. 
 - Access the fifth value of each key from the dictionary.

In [51]:
lst = ['x','y','z']
dct = {lst[i]:[j for j in range(((i+1)*10+1),((i+2)*10))] for i in range(len(lst))}

In [53]:
dct

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}

In [55]:
for i in range(len(lst)):
    print(dct[lst[i]][4])

15
25
35

#### 2) Write a Python script to add a key to a dictionary. 
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [60]:
dct = {x:(x+1)*10 for x in range(0,3)}
dct

{0: 10, 1: 20, 2: 30}

#### 3) Write a Python script to check whether a given key already exists in a dictionary.

In [67]:
dct = {str(x):(x+1)*10 for x in range(0,3)}
dct

{'0': 10, '1': 20, '2': 30}

In [71]:
key = input('Enter key: ')
if key in dct.keys():
    print('Key is present ',key,': ',dct[key])
else:
    print('Key not found')

Enter key:  5

Key not found

#### 4) Write a Python program to count the values associated with key in a dictionary. 
Expected result: Count of how many dictionaries have success as True

In [86]:
data = [
    {'id': 1, 'success': True, 'name': 'Lary'},
    {'id': 2, 'success': False, 'name': 'Rabi'},
    {'id': 3, 'success': True, 'name': 'Alex'}
]

count = 0
for i in data:
    if i['success']:
        count+=1
print(count)

2

#### 5) Write a Python program to create a dictionary from two lists without losing duplicate values. 
Sample lists: ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII'], [1, 2, 2, 3]
Expected Output: {'Class-VII': {2}, 'Class-VI': {2}, 'Class-VIII': {3}, 'Class-V': {1}})

In [91]:
lst1 = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
lst2 = [1, 2, 2, 3]

In [93]:
dct = dict()
for i in range(len(lst1)):
    dct[lst1[i]] = lst2[i]

dct

{'Class-V': 1, 'Class-VI': 2, 'Class-VII': 2, 'Class-VIII': 3}

#### 6) Write a Python program to check a dictionary is empty or not.

In [98]:
dct = dict()

if len(list(dct.keys()))==0:
    print('dictionary is empty')
else:
    print('dictionary is not empty')

dictionary is empty

#### 7) Write a Python program to combine two dictionary adding values for common keys.

In [1]:
dct1 = {'a':100,'b':200,'c':300}
dct2 = {'a':300,'b':200,'d':400}

k1 = list(dct1.keys())
k2 = list(dct2.keys())
mydct = dct1
for i in range(len(k2)):
    if k2[i] in k1:
        mydct[k2[i]]+=dct2[k2[i]]
    else:
        mydct[k2[i]] = dct2[k2[i]]

mydct

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

#### 8) Write a Python program to count number of items in a dictionary value that is a list

In [120]:
dct1={'Names':['Rohit','Ganesh','SRK','Akshay'],'age':40,'addresses':['Mumbai','Delhi','Kolkara','Banglore'],'emails':['actor.gmail.com','movie.gmail.com']}

In [122]:
k1 = list(dct1.keys())
sum = 0
for i in range(len(k1)):
    if isinstance(dct1[k1[i]],list):
        sum+=len(dct1[k1[i]])

sum

10

#### 9) Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string.
Sample string : 'w3resource'
Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [6]:
str = 'w3resource'
lst = list(str)
dct = dict()
for k in lst:
    if k in dct.keys():
        dct[k]+=1
    else:
        dct[k]=1

dct

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

#### 10) Write a Python program to get the key, value and item in a dictionary

In [15]:
mydictionary={1:'xyz',3:'abc',5:'pqr',2:'xzz'}
for k,v in mydictionary.items():
    print('key:',k,'Value:',v)

print('total items are',len(mydictionary.keys()))

key: 1 Value: xyz
key: 3 Value: abc
key: 5 Value: pqr
key: 2 Value: xzz
total items are 4

#### 11) Write a Python program to get the maximum and minimum value in a dictionary.

In [28]:
dct = {1:45,2:23,3:-12,4:87,5:63,6:78,7:19,8:90}
dct

{1: 45, 2: 23, 3: -12, 4: 87, 5: 63, 6: 78, 7: 19, 8: 90}

In [29]:
lst= list(dct.values())
for i in range(len(lst)):
    if i==0:
        max = min = lst[i]
        continue
    if lst[i]>max:
        max = lst[i]
        continue
    if lst[i]<min:
        min = lst[i]

print('Max:',max,'Min:',min)

Max: 90 Min: -12

#### 12) Write a Python program to map two lists into a dictionary.

In [34]:
prnnos=[1,2,3,4,5,6]
names=['abc','def','pqr','lmn','xyz','uvw']

In [40]:
dct = dict()
for i in range(len(prnnos)):
    dct[prnnos[i]] = names[i]

dct

{1: 'abc', 2: 'def', 3: 'pqr', 4: 'lmn', 5: 'xyz', 6: 'uvw'}

#### 13) Write a Python program to match key values in two dictionaries. 
Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
Expected output: key1: 1 is present in both x and y

In [49]:
dct1 = {'key1': 1, 'key2': 3, 'key3': 2}
dct2 = {'key1': 1, 'key2': 2}
lst = list()
for k in dct1.keys():
    for k2 in dct2.keys():
        if k==k2:
            lst.append(k)

print('Following keys are present in both dictionaries:',lst)

Following keys are present in both dictionaries: ['key1', 'key2']

#### 14)  Write a Python program to print a dictionary line by line.

In [58]:
Players={'Rohit':{'runs':10000,'centuries':15},'Virat':{'runs':12000,'centuries':18}}
for k,v in Players.items():
    print(k)
    for ke,va in v.items():
        print(ke,':',va)

Rohit
runs : 10000
centuries : 15
Virat
runs : 12000
centuries : 18

#### 15) Write a Python program to remove a key from a dictionary.

In [65]:
dct1 = {'key1': 1, 'key2': 3, 'key3': 2}
key = input('Enter key')
dct1.pop(key)
dct1

Enter key key3

{'key1': 1, 'key2': 3}

#### 16) Write a Python program to remove spaces from dictionary keys.

In [82]:
Students={'d 01':'Abc','d 0 2':'Xyz','d0 3':'Pqr'}
lst = list(Students.keys())
dct = dict()
for k in Students.keys():
    dct[k] = k.replace(' ','')

ans = dict()
for k,v in Students.items():
    ans[dct[k]] = v

ans

{'d01': 'Abc', 'd02': 'Xyz', 'd03': 'Pqr'}

#### 17) Write a Python program to sum all the items in a dictionary.

In [85]:
dct = {1:45,2:23,3:-12,4:87,5:63,6:78,7:19,8:90}
sum = 0
for v in dct.values():
    sum+=v

sum

393

#### 18) Write a Python script to merge two Python dictionaries.

In [88]:
mydictionary1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
mydictionary2={7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

dct = dict()

for k,v in mydictionary1.items():
    dct[k] = v

for k,v in mydictionary2.items():
    dct[k] = v

dct

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144}

#### 19) Write a Python script to concatenate following dictionaries to create a new one.

In [93]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## List

#### 1)Write a Python program to find all the values in a list are greater than a specified number.

In [97]:
lst = [1,2,3,4,5,6,7,8,9,10]
v = int((input('Enter a number: ')))
ans = list()
for i in lst:
    if i > v:
        ans.append(i)

ans

Enter a number:  5

[6, 7, 8, 9, 10]

#### 2) Write a Python program to find the list of words that are longer than n from a given list of words.

In [105]:
word_list = ['apple', 'banana', 'kiwi', 'grapefruit', 'mango', 'pineapple']
n = 5
ans = [i for i in word_list if len(i)>n]

ans

['banana', 'grapefruit', 'pineapple']

#### 3) Write a Python program to get the largest number from a list.

In [111]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(lst)):
    if i==0:
        max = lst[i]
        continue
    if lst[i]>max:
        max = lst[i]

max

10

#### 4) Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [114]:
lst = ['abc', 'xyz', 'aba', '1221']
ans = [i for i in lst if len(i)>=2 and i[0]==i[-1]]
ans

['aba', '1221']

#### 5) Write a Python program to multiply all the items in a list.

In [119]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst = [i*2 for i in lst]
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 6) Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [122]:
lst = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
ans = [lst[i] for i in range(len(lst)) if i not in [0,4,5]]
ans

['Green', 'White', 'Black']

#### 7) Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [125]:
lst = [1,2,3,4,5,6,7,8,9,10]
ans = [i for i in lst if i%2!=0]
ans

[1, 3, 5, 7, 9]

#### 8) Write a Python program access the index of a list.

In [144]:
lst = [10,20,30,40,50] 
for i in range(len(lst)):
    print(i,':',lst[i],end='\t ')

0 : 10	 1 : 20	 2 : 30	 3 : 40	 4 : 50

#### 9) Write a Python program to check a list is empty or not

In [147]:
lst = []
if len(lst)==0:
    print('List is empty')
else:
    print('List is not empty')

List is empty

#### 10) Write a Python program to check whether the n-th element exists in a given list.

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]
n = int(input('Enter a index'))
if n>0 and n<len(lst):
    print('Exists')
else:
    print('Doesnt exist')

Enter a index 11

Doesnt exist

#### 11) Write a Python program to clone or copy a list

In [8]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst2 = lst
print(lst2)
#or
lst2 = [i for i in lst]
lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 12) Write a Python program to convert list to list of dictionaries.

In [11]:
lst1 = ["Black", "Red", "Maroon", "Yellow"]
lst2 = ["#000000", "#FF0000", "#800000", "#FFFF00"]
lst = list()
for i in range(len(lst1)):
    dct = {'color_name':lst1[i],'color_code':lst2[i]}
    lst.append(dct)

lst

[{'color_name': 'Black', 'color_code': '#000000'},
 {'color_name': 'Red', 'color_code': '#FF0000'},
 {'color_name': 'Maroon', 'color_code': '#800000'},
 {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

#### 13) Write a Python program to find the index of an item in a specified list.

In [32]:
lst = [1,2,3,4,5,6,7,8,9,10]
num = int(input('Enter number to be searched'))
for i in range(len(lst)):
    if lst[i] ==num:
        print('Number found at index',i)
        break
else:
    print('Not found')

Enter number to be searched 1

Number found at index 0

#### 14) Write a Python program to insert a given string at the beginning of all items in a list.

Sample list : [1,2,3,4], string : emp
Expected output : ['emp1', 'emp2', 'emp3', 'emp4']

In [42]:
lst =  [1,2,3,4]
string = 'emp'
lst = [string+str(i) for i in lst]
lst

['emp1', 'emp2', 'emp3', 'emp4']

#### 15) Write a Python program to iterate over two lists simultaneously.

In [53]:
lst1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lst2 = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
for i,j in zip(lst1,lst2):
    print(i,j)

0 9
1 8
2 7
3 6
4 5
5 4
6 3
7 2
8 1
9 0

#### 16) Write a Python program to print a nested lists (each list on a new line) using the print() function.

In [56]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in nested_list:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

#### 17) Write a Python program to remove duplicates from a list.

In [63]:
lst = [1,1,1,2,2,2,2,4,4,4,4,3,3,3,3]
lst2 = list()
for i in lst:
    if i not in lst2:
        lst2.append(i)

lst2

[1, 2, 4, 3]

In [1]:
lst = [1,1,1,2,2,2,2,4,4,4,4,3,3,3,3]
lst2 = list(set(lst))
lst2

[1, 2, 3, 4]

#### 18) Write a Python program to replace the last element in a list with another list.

In [66]:
lst = [1, 3, 5, 7, 9, 10]
lst2 = [2, 4, 6, 8]
lst.extend(lst2)
lst

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]

#### 19) Write a Python function that takes two lists and returns True if they have at least one common member.

In [69]:
lst1 = [1, 3, 5, 7, 8, 10]
lst2 = [2, 4, 6, 8, 12,11]
def func(lst1,lst2):
    for i in lst1:
        if i in lst2:
            return True
    else:
        return False

func(lst1,lst2)

True

In [1]:
lst = ['x','y','z']
dct = {lst[i]:[j for j in range(((i+1)*10+1),((i+2)*10))] for i in range(len(lst))}